streamlit
langchain
langgraph
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
langgraph-checkpoint-sqlite
faiss-cpu
torch
torchvision
gtts
streamlit-audiorecorder
SpeechRecognition
pydub
redis
python-dotenv
pypdf
pdfplumber
requests
groq
yfinance